.product-labels-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -5px -5px 0;
}

.product-label {
  font-weight: 700;
  font-size: 10px;
  line-height: 1;
  padding: 6px 10px;
  border-radius: 4px;
  color: #fff;
  pointer-events: none;
  margin: 0 5px 5px 0;
  &_type-1 {
    background: var(--color-label-1);
  }
  &_type-2 {
    background: var(--color-label-2);
  }
}

.back-link {
  text-align: right;
  margin-top: 25px;
  a {
    font-size: 0.875rem;
    transition: color $trs1;
    display: inline-flex;
    align-items: center;
    color: var(--color-muted);
    .icon {
      width: 1em;
      height: 1em;
      margin-right: 0.5em;
    }
    &[data-touch], &[data-hover] {
      color: var(--color-accent-2);
    }
  }
}

.breadcrumbs {
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 50px;
  margin-top: 75px;
  &__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px -8px 0;
  }
  &__item {
    display: flex;
    align-items: center;
    margin: 0 10px 8px 0;
    .icon {
      width: 10px;
      height: 10px;
      margin-left: 10px;
    }
  }
  &__element {
    span {
      border-bottom: 1px dashed currentColor;
    }
    &:not(a) {
      color: var(--color-accent-2);
    }
  }
  @include media-breakpoint-down(lg) {
    margin: 50px 0 40px 0;
  }
}

.pdf-list {
  display: grid;
  grid-template-columns: repeat(2, minmax(300px, 440px));
  column-gap: var(--grid-gutter-x);
  row-gap: 40px;
  &__item {
    display: flex;
    .icon {
      width: 60px;
      height: 60px;
      flex-shrink: 0;
      margin-right: var(--grid-gutter-x);
    }
  }
  &__item-title {
    display: block;
    margin-bottom: 10px;
  }
  @include media-breakpoint-down(md) {
    grid-template-columns: auto;
    row-gap: 30px;
    &__item {
      .icon {
        width: 40px;
        height: 40px;
      }
    }
  }
}

.load-more {
  margin-top: 36px;
  text-align: center;
}

.pagination {
  margin-top: 36px;
  &__list {
    display: flex;
    justify-content: flex-end;
  }
  &__item {
    &:not(:last-child) {
      margin-right: 14px;
    }
  }
  &__link {
    display: flex;
    line-height: 16px;
    width: 16px;
    height: 16px;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: color $trs1;
    color: var(--color-muted);
    .icon {
      display: block;
      width: 100%;
      height: 100%;
    }
    &[data-touch], &[data-hover] {
      color: var(--color-accent-2);
    }
    &.is-active {
      color: var(--color-accent-2);
      font-weight: 700;
      pointer-events: none;
    }
  }
  @include media-breakpoint-down(lg) {
    &__list {
      justify-content: center;
    }
  }
}

.video-banner {
  height: 50vh;
  position: relative;
  .image {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
  }
  @include media-breakpoint-down(sm) {
    height: 300px;
  }
}

.tag-list {
  &__container {
    margin: 0 -12px -12px 0;
    display: flex;
    flex-wrap: wrap;
  }
  &__element {
    margin: 0 12px 12px 0;
  }
}

.tag-element {
  white-space: nowrap;
  grid-column: auto;
  border: 1px solid var(--color-borders);
  border-radius: 4px;
  color: var(--color-muted);
  font-size: 14px;
  line-height: 32px;
  padding: 0 18px;
  position: relative;
  transition: color .3s $out, border-color .3s $out;
  &::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-color: var(--color-accent-2);
    opacity: 0;
    transform: scaleX(0.7);
    transition: transform .3s $out, opacity .3s $out, background-color $trs1;
  }
  span {
    position: relative;
    z-index: 2;
  }
  &[data-touch], &[data-hover], &.is-active {
    color: #fff;
    border-color: var(--color-accent-2);
    &::before {
      transform: scaleX(1);
      opacity: 1;
    }
  }
  &.is-active {
    &[data-touch], &[data-hover] {
      border-color: var(--color-accent-2_2);
      &::before {
        background-color: var(--color-accent-2_2);
      }
    }
  }
}

.socials {
  &__list {
    display: flex;
  }
  &__item {
    &:not(:last-child) {
      margin-right: 12px;
    }
  }
  &__link {
    display: block;
    font-size: 0;
    transition: color $trs1;
    color: var(--color-socials);
    .icon {
      display: block;
      height: 22px;
    }
    &[data-touch], &[data-hover] {
      color: var(--color-accent-2);
    }
  }
}

.count-calculator {
  display: inline-flex;
  &__button {
    width: 2em;
    height: 2em;
    border: 1px solid var(--color-borders);
    position: relative;
    transition: border-color $trs1;
    flex-shrink: 0;
    &::before, &::after {
      content: '';
      background-color: var(--color-accent-1);
      transition: background-color $trs1;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
    &::before {
      width: 1em;
      height: 1px; 
    }
    &_minus {
      border-radius: 4px 0 0 4px;
      
    }
    &_plus {
      border-radius: 0 4px 4px 0;
      &::after {
        height: 1em;
        width: 1px;
      }
    }
    &[data-touch], &[data-hover] {
      &::before, &::after {
        background-color: var(--color-accent-1_2);
      }
    }
  }
  &__input {
    border-style: solid;
    border-width: 1px 0 1px 0;
    border-color: var(--color-borders);
    font-size: 1em;
    line-height: calc(2em - 2px);
    padding: 0 0.5em;
    width: 3.25em;
    text-align: center;
    transition: border-color $trs1;
  }
  &[data-hover] {
    .count-calculator__button, .count-calculator__input {
      border-color: var(--color-accent-1);
    }
  }
  @include media-breakpoint-down(sm) {
    &__input {
      line-height: calc(2.5em - 2px);
    }
    &__button {
      width: 2.5em;
      height: 2.5em;
    }
  }
}

.product-calculator {
  display: flex;
  align-items: center;
  &__calculator-text {
    flex-shrink: 0;
    &:last-child {
      margin-left: 0.5em;
    }
    &:first-child {
      margin-right: 0.5em;
    }
  }
}

.product-gradation-label {
  width: 52px;
  height: 52px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  span {
    position: relative;
    z-index: 2;
    color: #fff;
    font-size: 10px;
    font-weight: 700;
    width: 100%;
    text-align: center;
    line-height: 1.35;
    &:nth-child(2) {
      display: flex;
      align-items: center;
      justify-content: center;
      &::after {
        content: '';
        background-color: currentColor;
        display: inline-block;
        width: 1.7em;
        height: 1px;
        margin-left: 0.65em;
        margin-right: 0.5em;
      }
    }
  }
  .icon {
    position: absolute;
    width: 100%;
    height: 100%;
    color: var(--color-label-3);
  }
}

.packaging-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 0.5em;
  &__item {
    cursor: default;
    input {
      display: none;
      &:checked {
        & ~ span {
          border-color: var(--color-accent-1);
          pointer-events: none;
        }
      }
      &:disabled {
        & ~ span {
          background-color: var(--color-borders);
          color: #fff;
          pointer-events: none;
        }
      }
    }
    span {
      height: 2em;
      border: 1px solid var(--color-borders);
      border-radius: 4px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      font-size: 1em;
      cursor: pointer;
      transition: border-color $trs1;
      &[data-touch], &[data-hover] {
        border-color: var(--color-accent-1);
      }
    }
  }
  @include media-breakpoint-down(sm) {
    &__item {
      span {
        height: 2.5em;
      }
    }
  }
}

.product-card {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  position: relative;
  &::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 4px;
    box-shadow: var(--block-shadow);
    transition: width $trs1, height $trs1;
  }
  &[data-hover] {
    &::before {
      width: calc(100% + 10px);
      height: calc(100% + 10px);
    }
    .product-labels-list {
      transform: translate(-5px, -5px);
    }
  }
  &__image {
    flex: 0 0 150px;
    position: relative;
    z-index: 2;
    .image {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      img {
        padding: 20px 20px 5px 20px;
      }
    }
  }
  .product-labels-list {
    position: absolute;
    left: 6px;
    top: 6px;
    transition: transform $trs1;
  }
  &__gradation-label {
    position: absolute;
    right: 10px;
    bottom: 0;
  }
  &__content {
    flex: 1 1 auto;
    padding: 15px 10px 25px 10px;
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__top {
    margin-bottom: 20px;
    width: 100%;
  }
  &__label-info {
    font-size: 12px;
    padding-left: 1.6em;
    color: var(--color-muted);
    position: relative;
    margin-bottom: 15px;
    .icon {
      position: absolute;
      width: 1em;
      height: 1em;
      left: 0;
      top: 0.1em;
    }
  }
  &__title {
    display: block;
    font-size: 14px;
  }
  &__info {
    font-size: 12px;
    color: var(--color-muted);
    margin-bottom: 20px;
    li {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      &:not(:last-child) {
        margin-bottom: 6px;
      }
      &:first-child {
        margin-bottom: 12px;
      }
    }
  }
  &__packaging-list {
    font-size: 12px;
  }
  &__packaging-title {
    display: block;
    margin-bottom: 10px;
    font-size: 12px;
    color: var(--color-muted);
  }
  &__calculator {
    margin-top: 12px;
    font-size: 12px;
  }
  &__button {
    text-align: center;
    margin-top: 20px;
  }
  @include media-breakpoint-down(sm) {
    .product-calculator {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      column-gap: 0.5em;
      &__calculator-text:first-child {
        display: none;
      }
      &__calculator-text:last-child {
        margin: 0;
      }
      .count-calculator {
        grid-column: 1/4;
        &__button {
          width: calc(33.33% - 0.25em - 1px);
        }
        &__input {
          width: calc(33.33% + 0.5em + 2px);
        }
      }
    }
    
    &__content {
      padding: 15px 10px 20px 10px;
    }
    &__button {
      .button {
        padding: 0;
        min-width: initial;
        width: 100%;
      }
    }
  }
  @media screen and (max-width:359px) {
    &__title {
      font-size: 12px;
    }
    &__top, &__info {
      margin-bottom: 15px;
    }
    &__label-info, &__info, &__packaging-title, &__packaging-list, &__calculator {
      font-size: 10px;
    }
  }
}

.products-section {
  &__content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--grid-gutter-x);
  }
  @include media-breakpoint-down(lg) {
    &__content {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

.product-category-block {
  position: relative;
  display: block;
  padding-bottom: 30px;
  &::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 4px;
    box-shadow: var(--block-shadow);
    transition: width $trs1, height $trs1;
  }
  &[data-touch], &[data-hover] {
    &::before {
      width: calc(100% + 10px);
      height: calc(100% + 10px);
    }
  }
  .image {
    border-radius: 4px;
    height: 170px;
    margin-bottom: 5px;
    img {
      padding: 40px;
    }
  }
  &__title {
    position: relative;
    z-index: 2;
    text-align: center;
    margin: 0;
    font-weight: 700;
  }
  @include media-breakpoint-up(lg) {
    &__title {
      font-size: 1.25rem;
    }
  }
  @include media-breakpoint-down(sm) {
    padding-bottom: 20px;
    .image {
      height: initial;
      &::before {
        content: '';
        display: block;
        padding-top: 80%;
      }
      img {
        padding: 20px;
      }
    }
  }
}

.product-slider {
  .swiper-container {
    margin: calc(var(--grid-gutter-x) / -2);
  }
  .swiper-slide {
    padding: calc(var(--grid-gutter-x) / 2);
  }
  .swiper-button {
    bottom: calc(100% + calc(60px - var(--grid-gutter-x) / 2));
  }
  .swiper-button-prev {
    right: 52px;
  }
  .swiper-button-next {
    right: 0;
  }
  &__head {
    padding-right: 104px;
  }
  @include media-breakpoint-up(sm) {
    .swiper-pagination {
      display: none;
    }
  }
  @include media-breakpoint-down(lg) {
    .swiper-button {
      bottom: calc(100% + calc(53px - var(--grid-gutter-x) / 2));
    }
  }
  @include media-breakpoint-down(sm) {
    .swiper-container {
      overflow: visible;
    }
    .swiper-button {
      display: none;
    }
    .swiper-pagination {
      margin-top: 20px;
      justify-content: center;
      --color: rgba(0, 0, 0, 0.2);
      --color-hover: rgba(0, 0, 0, 0.4);
      --color-active: currentColor;
    }
    &__head {
      padding-right: 0;
    }
  }
}

.banner {
  padding: 30px 0;
  border-radius: 4px;
  overflow: hidden;
  &::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  &__content {
    position: relative;
    z-index: 3;
    padding: 0 40px 0 440px;
    color: #fff;
  }
  &__title {
    line-height: 1.5;
    margin-bottom: 20px;
  }
  &__button {
    min-width: 170px;
  }
  @include media-breakpoint-down(xl) {
    &__content {
      padding: 0 20px 0 340px;
    }
  }
  @include media-breakpoint-down(lg) {
    &__content {
      padding: 0 20px 0 300px;
    }
  }
  @include media-breakpoint-down(md) {
    &__content {
      padding: 0 20px 0 200px;
    }
  }
  @include media-breakpoint-down(sm) {
    &::after {
      background: rgba(0, 0, 0, 0.2);
    }
    &__content {
      padding: 0 40px;
    }
  }
}

.info-table {
  width: 100%;
  tr {
    &:not(:last-child) {
      td {
        padding-bottom: 10px;
        &:first-child {
          &::after {
            bottom: calc(0.25em + 10px);
          }
        }
      }
    }
    &:last-child {
      td {
        &:first-child {
          &::after {
            bottom: 0.25em;
          }
        }
      }
    }
  }
  td {
    vertical-align: bottom;
    padding: 0;
    position: relative;
    span {
      display: inline;
      background-color: #fff;
      position: relative;
      z-index: 2;
    }
    &:first-child {
      padding-right: 8px;
      overflow: hidden;
      color: var(--color-muted);
      &::after {
        content: '';
        display: block;
        border-bottom: 1px dashed currentColor;
        position: absolute;
        left: 0;
        width: 100vw;
      }
      span {
        padding-right: 8px;
      }
    }
    &:last-child {
      padding-left: 8px;
    }
  }
}

.video-block {
  .icon {
    position: absolute;
    top: calc(50% - 34px);
    left: calc(50% - 34px);
    width: 68px;
    height: 68px;
    border-radius: 50%;
    background-color: #fff;
    color: var(--color-accent-2);
    transition: transform $trs1, color $trs1;
    will-change: transform;
    padding: 5px;
    z-index: 3;
    svg {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
  &::after {
    content: '';
    display: block;
    top: 0;
    left: 0;
    background-color: var(--color-muted);
    opacity: 0.5;
    z-index: 2;
    padding-top: 55%;
    position: relative;
  }
  &[data-touch], &[data-hover] {
    .icon {
      transform: scale(1.15);
      color: var(--color-accent-2_2);
    }
  }
}

.contacts-widget {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px 0 0 60px;
  border-radius: 4px;
  box-shadow: 1px 0px 10px 1px rgba(0, 0, 0, 0.05);
  &__section {
    margin: 0 60px 30px 0;
  }
  &__text-1 {
    font-size: 1.125rem;
    color: var(--color-muted);
    margin-bottom: 10px;
  }
  &__text-2 {
    font-size: 1.5rem;
    font-weight: 700;
  }
  &__text-3 {
    color: var(--color-accent-1);
    margin-bottom: 12px;
    font-weight: 700;
  }
  &__phone {
    font-size: 1.5rem;
  }
  @include media-breakpoint-down(md) {
    padding: 30px 0 0 30px;
    &__section {
      margin: 0 30px 30px 0;
    }
    &__text-1 {
      font-size: 1rem;
    }
    &__text-2 {
      font-size: 1.25rem;
    }
    &__phone {
      font-size: 1.25rem;
    }
  }
  @include media-breakpoint-down(sm) {
    padding: 30px 10px 10px 30px;
    &__section {
      margin: 0 20px 20px 0;
    }
  }
}

.about-section {
  &__video {
    padding-left: 40px;
    order: 2;
  }
  &__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: var(--grid-gutter-x);
  }
  @include media-breakpoint-down(lg) {
    &__container {
      display: block;
    }
    &__video {
      padding-left: 0;
      margin-bottom: 30px;
    }
  }
}

.certificate-block {
  position: relative;
  &::after {
    content: '';
    display: block;
    padding-top: 59%;
  }
  &::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 4px;
    box-shadow: var(--block-shadow);
    transition: width $trs1, height $trs1;
  }
  &[data-touch], &[data-hover] {
    &::before {
      width: calc(100% + 10px);
      height: calc(100% + 10px);
    }
  }
  .image {
    border-radius: 4px;
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

.certificates-section {
  &__container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: var(--grid-gutter-x);
  }
  @include media-breakpoint-down(lg) {
    &__container {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  @include media-breakpoint-down(sm) {
    &__container {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

.news-grid {
  &__container {
    display: grid;
    grid-auto-flow: dense;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--grid-gutter-x);
  }
  &__contacts-widget {
    margin: 80px auto 0 auto;
    display: flex;
    justify-content: center;
  }
  &__tags {
    margin-bottom: 60px;
  }
  @include media-breakpoint-down(lg) {
    &__container {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  @include media-breakpoint-down(sm) {
    &__tags {
      margin-bottom: 40px;
    }
  }
}

.news-element {
  color: #fff;
  position: relative;
  background-color: var(--color-muted);
  border-radius: 4px;
  overflow: hidden;
  padding: 35px 20px 40px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  min-height: 260px;
  &[data-touch], &[data-hover] {
    .image {
      &::after {
        opacity: 1;
      }
    }
    .news-element__button {
      opacity: 1;
    }
  }
  &_wide {
    grid-column: span 2;
  }
  .image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    &::after {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: rgba(43, 41, 41, 0.5);
      transition: opacity .5s $out;
      opacity: 0;
    }
  }
  &__text {
    position: relative;
    z-index: 2;
    margin-bottom: 25px;
  }
  &__date {
    margin-bottom: 8px;
    display: block;
  }
  &__title {
    font-size: 1rem;
    font-weight: 700;
    margin: 0;
  }
  &__button {
    .desktop & {
      transition: opacity .5s $out;
      opacity: 0;
    }
    .mobile & {
      .button {
        font-size: 0;
        padding: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 2;
        &::before, &::after {
          display: none;
        }
      }
    }
    width: 100%;
  }
  @include media-breakpoint-down(xl) {
    padding: 30px 20px;
  }
  @include media-breakpoint-down(lg) {
    padding: 30px;
  }
  @include media-breakpoint-down(md) {
    min-height: 220px;
  }
  @include media-breakpoint-down(sm) {
    min-height: 180px;
    padding: 20px var(--container-gutter-x);
    &__title {
      font-size: 0.75rem;
    }
    &__text {
      margin-bottom: 20px;
    }
    &__date {
      font-size: 0.875rem;
    }
    &_wide {
      .news-element__title {
        font-size: 1rem;
      }
    }
  }
}

.catalogue {
  &__aside {
    grid-column: 1/2;
  }
  &__wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: var(--grid-gutter-x);
  }
  &__content {
    grid-column: 2/6;
  }
  &__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--grid-gutter-x);
  }
  &__head {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--grid-gutter-x);
    margin-bottom: 40px;
  }
  @include media-breakpoint-down(xl) {
    &__wrapper {
      grid-template-columns: repeat(4, 1fr);
    }
    &__items, &__head {
      grid-template-columns: repeat(3, 1fr);
    }
    &__content {
      grid-column: 2/5;
    }
  }
  @include media-breakpoint-down(lg) {
    &__wrapper {
      display: block;
    }
  }
  @include media-breakpoint-down(md) {
    &__items, &__head {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  @include media-breakpoint-down(sm) {
    &__head {
      grid-template-columns: 1fr;
    }
  }
}

.catalogue-filter {
  --gutter: 12px;
  border-radius: 4px;
  box-shadow: var(--block-shadow);
  &__category-head {
    padding: var(--gutter);
    position: relative;
    cursor: pointer;
    font-size: 16px;
    line-height: 20px;
    user-select: none;
    .icon {
      position: absolute;
      width: 14px;
      height: 14px;
      right: var(--gutter);
      top: 14px;
      transform: rotate(-90deg);
      color: var(--color-accent-1);
    }
    &.is-active {
      font-weight: 700;
      color: var(--color-accent-1);
      .icon {
        transform: rotate(0);
      }
    }
  }
  &__category {
    &:not(:last-child) {
      border-bottom: 1px solid var(--color-borders);
    }
  }
  &__category-content {
    display: none;
    &.is-active {
      display: block;
    }
  }
  &__category-element {
    padding: var(--gutter);
    &:not(:last-child) {
      border-bottom: 1px solid var(--color-borders);
    }
    .checkbox {
      &__label {
        &[data-touch], &[data-hover] {
          color: var(--color-accent-1);
        }
      }
    }
  }
  @include media-breakpoint-up(lg) {
    &-open {
      display: none;
    }
    &__head {
      display: none;
    }
    &__container {
      .container {
        padding: 0;
      }
    }
  }
  @include media-breakpoint-down(lg) {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: #fff;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity $trs2, visibility $trs2;
    &.is-active {
      opacity: 1;
      visibility: visible;
      pointer-events: all;
    }
    &-close {
      margin: 0 0 0 auto;
    }
    &__head {
      flex: 0 0 auto;
      .container {
        height: 50px;
        display: flex;
        align-items: center;
      }
      box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.05);
    }
    &__container {
      flex: 1 1 auto;
      overflow: auto;
      padding: 50px 0;
    }
  }
  @include media-breakpoint-down(sm) {
    --gutter: 12px var(--grid-gutter-x);
    &__container {
      padding: 40px 0;
    }
    &__category {
      margin: 0 calc(var(--grid-gutter-x) * -1);
    }
    &__category-head {
      .icon {
        right: calc(var(--grid-gutter-x) + 6px);
      }
    }
  }
}

.article {
  &__container {
    border-radius: 4px;
    box-shadow: var(--block-shadow);
    background-color: #fff;
    padding: 0 40px 80px 40px;
  }
  &__head {
    padding: 80px 60px;
    overflow: hidden;
    border-radius: 4px;
    position: relative;
    color: #fff;
    min-height: 350px;
    display: flex;
    margin-bottom: 55px;
    .image {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
  }
  &__head-text {
    position: relative;
    z-index: 2;
    max-width: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__date {
    font-size: 1.25rem;
  }
  @include media-breakpoint-down(lg) {
    &__head {
      padding: 60px 40px;
      min-height: 300px;
    }
    &__container {
      padding: 0;
    }
    &__content {
      padding: 0 40px 40px 40px;
    }
    &__date {
      font-size: 1.125rem;
    }
  }
  @include media-breakpoint-down(sm) {
    &__head {
      padding: 30px 20px;
      min-height: 200px;
      margin-bottom: 30px;
    }
    &__content {
      padding: 0 20px 30px 20px;
    }
    &__date {
      font-size: 1rem;
    }
  }
}

.about-company-section {
  &__container {
    align-items: flex-start;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: var(--grid-gutter-x);
  }
  &__slider {
    grid-column: 1/6;
    position: relative;
    .swiper-pagination {
      position: absolute;
      bottom: 25px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  &__slide {
    height: 370px;
    position: relative;
  }
  &__text {
    grid-column: 6/13;
  }
  @include media-breakpoint-down(lg) {
    &__slider {
      grid-column: 1/13;
      margin-bottom: 40px;
    }
    &__text {
      grid-column: 1/13;
    }
  }
  @include media-breakpoint-down(sm) {
    &__slide {
      height: 280px;
    }
  }
}

.section-benefits {
  &__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: var(--grid-gutter-x);
    row-gap: 40px;
  }
  &__block {
    text-align: center;
    padding: 0 20px;
  }
  &__block-icon {
    width: 60px;
    height: 60px;
    margin: 0 auto 20px auto;
  }
  &__block-title {
    color: var(--color-accent-1);
    margin: 0 0 12px 0;
  }
  &__title {
    text-align: center;
  }
  @include media-breakpoint-down(lg) {
    &__block {
      padding: 0;
    }
  }
  @include media-breakpoint-down(md) {
    &__container {
      grid-template-columns: 1fr;
    }
  }
}

.contacts-section {
  &__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--grid-gutter-x);
  }
  @include media-breakpoint-down(md) {
    &__container {
      grid-template-columns: 1fr;
    }
  }
}

.contact-box {
  border-radius: 4px;
  box-shadow: var(--block-shadow);
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  &__content {
    padding: 32px 36px 40px 36px;
    flex: 1 1 auto;
  }
  &__title {
    margin: 0 0 30px 0;
  }
  &__elements {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: var(--grid-gutter-x);
    row-gap: 30px;
  }
  &__item-head {
    color: var(--color-accent-1);
    font-weight: 700;
    padding-left: 28px;
    position: relative;
    display: block;
    margin-bottom: 15px;
    .icon {
      width: 18px;
      height: 18px;
      position: absolute;
      display: block;
      left: 0;
      top: 0;
    }
  }
  &__map {
    position: relative;
    &::before {
      content: '';
      display: block;
      padding-top: 80%;
    }
    iframe {
      position: absolute;
      border: 0;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
  }
  @include media-breakpoint-down(lg) {
    &__content {
      padding: 30px 20px;
    }
    &__elements {
      grid-template-columns: 1fr;
    }
  }
  @include media-breakpoint-down(md) {
    &__elements {
      grid-template-columns: 1fr 1fr;
    }
  }
  @include media-breakpoint-down(sm) {
    &__elements {
      grid-template-columns: 1fr;
      row-gap: 20px;
    }
    &__item-head {
      margin-bottom: 10px;
    }
  }
}

.page-404 {
  position: relative;
  padding: 170px 0;
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  .image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  &__container {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: flex-end;
  }
  &__box {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: var(--block-shadow);
    position: relative;
    z-index: 2;
    padding: 38px 46px 46px 46px;
    max-width: 400px;
  }
  &__box-title {
    margin: 0 0 20px 0;
  }
  &__box-text {
    margin: 0 0 30px 0;
  }
  @include media-breakpoint-down(sm) {
    padding: 80px 0;
    &__box {
      width: 100%;
      max-width: initial;
      padding: 40px 20px;
    }
  }
}

.product-head {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto 1fr;
  column-gap: var(--grid-gutter-x);
  &__head {
    grid-column: 6/13;
    margin-bottom: 30px;
  }
  &__slider {
    grid-column: 1/6;
    grid-row: 1/3;
  }
  &__content {
    grid-column: 6/13;
  }
  &__content-section {
    &:not(:last-child) {
      margin-bottom: 36px;
    }
  }
  &__content-section-title {
    display: block;
    font-weight: 700;
    margin-bottom: 15px;
  }
  &__packaging-list {
    font-size: 18px;
    max-width: 320px;
  }
  &__product-calculator {
    font-size: 18px;
    .count-calculator__button {
      &::before {
        height: 2px;
      }
      &::after {
        width: 2px;
      }
    }
  }
  &__pricing {
    display: flex;
  }
  &__pricing-element {
    &:not(:last-child) {
      margin-right: var(--grid-gutter-x);
    }
    span {
      display: block;
      &:first-child {
        font-size: 14px;
        margin-bottom: 5px;
        color: var(--color-muted);
      }
      &:last-child {
        font-size: 18px;
      }
    }
  }
  &__last-section {
    display: flex;
  }
  &__button {
    margin-left: 60px;
  }
  @include media-breakpoint-down(lg) {
    display: block;
    &__head {
      margin-bottom: 40px;
    }
    &__slider {
      max-width: 500px;
      margin-bottom: 40px;
    }
  }
  @include media-breakpoint-down(sm) {
    &__packaging-list, &__product-calculator {
      font-size: 16px;
    }
    &__last-section {
      display: block;
    }
    &__button {
      margin: 40px 0 0 0;
    }
  }
}

.product-preview-slider {
  display: grid;
  grid-template-columns: 80px 1fr;
  column-gap: var(--grid-gutter-x);
  padding-top: 10px;
  .swiper-container {
    margin: 0 calc(var(--grid-gutter-x) / -2);
  }
  .swiper-slide {
    padding: 0 calc(var(--grid-gutter-x) / 2);
    .image {
      &::before {
        content: '';
        display: block;
        padding-top: 100%;
      }
    }
  }
  &__small-image {
    border-radius: 4px;
    border: 1px solid transparent;
    transition: border-color $trs1;
    &::before {
      content: '';
      display: block;
      padding-top: 100%;
    }
    &:not(:last-child) {
      margin-bottom: 10px;
    }
    img {
      padding: 10px;
    }
    &.is-active {
      border-color: var(--color-accent-1);
    }
  }
  @include media-breakpoint-down(lg) {
    grid-template-columns: 50px 1fr;
    &__small-image {
      img {
        padding: 5px;
      }
    }
  }
}

.product-tabs {
  margin-top: 80px;
  padding-bottom: 140px;
  position: relative;
  &::after {
    content: '';
    display: block;
    position: absolute;
    width: 90%;
    left: 5%;
    bottom: 0;
    height: 1px;
    background-color: var(--color-borders);
  }
  &__tab {
    display: none;
    &.is-active {
      display: block;
    }
  }
  &__head {
    display: flex;
  }
  &__link {
    font-size: 18px;
    padding: 11px 36px;
    transition: background-color $trs1, color $trs1;
    font-weight: 700;
    border-radius: 4px 4px 0 0;
    text-align: center;
    &[data-touch], &[data-hover] {
      color: var(--color-accent-1);
    }
    &.is-active {
      background-color: var(--color-accent-1);
      color: #fff;
      cursor: default;
    }
  }
  &__wrapper {
    border: 1px solid var(--color-borders);
    border-radius: 0 0 4px 4px;
    padding: 40px 40px 60px 40px;
  }
  @include media-breakpoint-down(sm) {
    padding-bottom: 100px;
    &__wrapper {
      padding: 30px 20px;
    }
    &__link {
      font-size: 16px;
      padding: 11px 0;
      flex: 1 0 auto;
    }
  }
}

.product-statistics {
  &__head {
    margin-bottom: 60px;
  }
  @include media-breakpoint-down(sm) {
    &__head {
      margin-bottom: 40px;
    }
  }
}

.product-description {
  &__block {
    &:not(:last-child) {
      margin-bottom: 50px;
    }
  }
  &__info-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: var(--grid-gutter-x);
    row-gap: 20px;
  }
  @include media-breakpoint-down(md) {
    &__info-content {
      display: block;
      .info-table {
        &:not(:last-child) {
          margin-bottom: 10px;
        }
      }
    }
  }
}

.large-images {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 100px;
  row-gap: 60px;
  &__block-title {
    color: var(--color-accent-1);
    margin: 0 0 40px 0;
  }
  &__block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .image {
      &::before {
        content: '';
        display: block;
        padding-top: 60%;
      }
    }
  }
  @include media-breakpoint-down(xl) {
    column-gap: 80px;
  }
  @include media-breakpoint-down(lg) {
    column-gap: 60px;
  }
  @include media-breakpoint-down(md) {
    column-gap: 40px;
  }
  @include media-breakpoint-down(sm) {
    column-gap: var(--grid-gutter-x);
    row-gap: 40px;
  }
}