img {
  display: block;
  user-select: none;
  pointer-events: none;
  &.lazyload, &.lazyloading {
    opacity: 0;
    visibility: hidden;
  }
  &.lazyloaded {
    opacity: 1;
    visibility: visible;
    transition: opacity $trs3, visibility $trs3;
  }
}

//images
.image {
  display: block;
  position: relative;
  img {
    width: 100%;
    height: auto;
  }
  &_contain, &_cover {
    img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
    }
  }
  &_cover {
    overflow: hidden;
    background-color: rgba(43, 41, 41, 0.5);
    img {
      object-fit: cover;
    }
  }
  &_contain {
    img {
      object-fit: contain;
    }
  }
}


.logo {
  width: 85px;
  display: block;
  img {
    width: 100%;
    height: auto;
  }
}

.link, a:not([class]) {
  transition: color $trs1;
  &[data-touch], &[data-hover] {
    color: var(--color-accent-2);
  }
}

.link-dashed {
  transition: color $trs1;
  color: var(--color-accent-2);
  border-bottom: 1px dashed currentColor;
  &[data-touch], &[data-hover] {
    color: var(--color-accent-2_2);
  }
}

.close-button {
  width: 26px;
  height: 26px;
  position: relative;
  transition: color $trs1;
  color: var(--color-borders);
  &::before, &::after {
    content: '';
    display: block;
    background-color: currentColor;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 2px;
    border-radius: 2px;
  }
  &::before {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
  &::after {
    transform: translate(-50%, -50%) rotate(45deg);
  }
  &[data-touch], &[data-hover] {
    color: var(--color-accent-2);
  }
}

.swiper {
  position: relative;
  * {
    user-select: none;
  }
  &-lazy {
    opacity: 0;
    visibility: hidden;
    transition: opacity $trs3, visibility $trs3;
    &-loaded {
      opacity: 1;
      visibility: visible;
    }
  }
  &-wrapper {
    transition-timing-function: ease;
  }
  &-slide {
    height: initial;
  }
  &-button {
    position: absolute;
    width: 26px;
    height: 26px;
    color: var(--color-muted);
    transition: color $trs1, opacity $trs1;
    cursor: pointer;
    user-select: none;
    .icon {
      width: 100%;
      height: 100%;
      display: block;
    }
    &-prev {
      .icon {
        transform: rotate(180deg);
      }
    }
    &[data-touch], &[data-hover] {
      &:not(.swiper-button-disabled) {
        color: var(--color-accent-2);
      }
    }
    &-disabled {
      opacity: 0.35;
      cursor: default;
    }
  }
  &-pagination {
    --color: rgba(255, 255, 255, 0.5);
    --color-hover: rgba(255, 255, 255, 0.8);
    --color-active: #fff;
    display: flex;
    position: relative;
    z-index: 2;
    &-bullet {
      &:not(:last-child) {
        margin-right: 10px;
      }
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background-color: var(--color);
      transition: background-color $trs1;
      &[data-touch], &[data-hover] {
        background-color: var(--color-hover);
      }
      &-active {
        pointer-events: none;
        background-color: var(--color-active);
      }
    }
  }
  @include media-breakpoint-down(sm) {
    &-pagination {
      &-bullet {
        width: 10px;
        height: 10px;
      }
    }
  }
}