:root {
  @include media-breakpoint-up(sm) {
    --grid-gutter-x: 24px;
    --container-gutter-x: 24px;
  }

  @include media-breakpoint-up(xl) {
    --content-width: #{map-get($container-max-widths, xl)};
  }
  @include media-breakpoint-down(xl) {
    --content-width: #{map-get($container-max-widths, lg)};
  }
  @include media-breakpoint-down(lg) {
    --content-width: #{map-get($container-max-widths, md)};
  }
  @include media-breakpoint-down(md) {
    --content-width: #{map-get($container-max-widths, sm)};
    --container-gutter-x: 16px;
    --grid-gutter-x: 16px;
  }

  @include media-breakpoint-down(sm) {
    --content-width: 100%;
  }
  

  --block-shadow: 1px 0px 10px 1px rgba(0, 0, 0, 0.05);
}