.footer {
  flex-shrink: 0;
  border-top: 1px solid var(--color-borders);
  padding: 40px 0;
  &__container {
    display: grid;
    column-gap: var(--grid-gutter-x);
    row-gap: 50px;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr auto;
  }
  &__logo {
    width: 120px;
    margin-bottom: 37px;
  }
  &__phone {
    font-weight: 700;
    margin-bottom: 10px;
  }
  &__adress {
    font-size: 0.875rem;
  }
  &__socials {
    margin-top: 40px;
  }
  &__last {
    margin-top: 40px;
    font-size: 0.875rem;
    a {
      white-space: nowrap;
    }
  }
  &__copyright {
    display: block;
    white-space: nowrap;
    margin-top: 30px;
  }
  &__nav-list-item {
    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }
  &__nav-list-link {
    font-weight: 700;
  }
  &__product-nav-title {
    display: block;
    margin-bottom: 12px;
    color: var(--color-accent-2);
  }
  &__product-nav-item {
    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }
  &__product-nav-link {
    font-size: 0.875rem;
  }
  @include media-breakpoint-up(xl) {
    &__box-1 {
      grid-column: 1/2;
      grid-row: 1/2;
    }
    &__product-nav {
      grid-row: 1/3;
    }
    &__nav-list {
      grid-row: 1/3;
    }
  }
  @include media-breakpoint-down(xl) {
    &__container {
      grid-template-columns: repeat(4, 1fr);
    }
    &__nav-list {
      grid-column: 2/5;
    }
    &__last {
      margin: 0;
    }
    &__copyright {
      margin-top: 20px;
    }
  }
  @include media-breakpoint-down(lg) {
    &__box-1 {
      grid-column: 1/3;
    }
    &__nav-list {
      grid-column: 3/5;
    }
  }
  @include media-breakpoint-down(sm) {
    &__container {
      row-gap: 40px;
    }
    &__product-nav {
      grid-column: span 2;
    }
  }
}