.input {
  background-color: #fff;
  border-radius: 4px;
  width: 100%;
  input {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  textarea {
    height: 114px;
  }
  input, textarea {
    width: 100%;
    font-size: 14px;
    line-height: 18px;
    padding: 11px 15px;
    border-radius: inherit;
    transition: border-color $trs1;
    border: 1px solid var(--color-input-border);
    &:-webkit-autofill {
      -webkit-text-fill-color: var(--color-text);
      box-shadow: 0 0 0px 1000px transparent inset;
      transition: background-color 5000s;
    }
    &::placeholder {
      color: var(--color-input-placeholder);
      transition: opacity $trs1;
    }
    &:focus {
      border-color: var(--color-accent-1);
      &::placeholder {
        opacity: 0;
      }
    }
  }
  @include media-breakpoint-down(sm) {
    input, textarea {
      font-size: 16px;
      line-height: 20px;
      padding: 10px 15px;
    }
  }
}

.search-block {
  &__element {
    display: flex;
    position: relative;
  }
  &__input {
    width: 100%;
    input {
      padding-right: 65px;
    }
  }
  &__search-button {
    position: absolute;
    right: 0;
    top: 0;
    width: 42px;
    height: 100%;
    display: flex;
    color: var(--color-accent-2);
    transition: color $trs1;
    .icon {
      width: 17px;
      height: 17px;
      margin: auto;
    }
    &[data-touch], &[data-hover] {
      color: var(--color-accent-2_2);
    }
  }
}

.checkbox {
  position: relative;
  font-size: 14px;
  line-height: 1.5;
  &__input {
    display: none;
    &:checked ~ .checkbox__label {
      &:before {
        border-color: var(--color-accent-1_2);
      }
      &:after {
        opacity: 1;
      }
    }
  }
  &__label {
    display: block;
    position: relative;
    padding-left: 1.8em;
    transition: color $trs1;
    &:before {
      content: '';
      display: block;
      width: 1.25em;
      height: 1.25em;
      border: 1px solid var(--color-borders);
      background-color: #fff;
      border-radius: 2px;
      position: absolute;
      left: 0;
      top: 0.1em;
      transition: border-color $trs1;
    }
    &:after {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 0.4em;
      left: 0.25em;
      width: 0.7em;
      height: 0.4em;
      border-width: 0 0 1px 1px;
      transform: rotate(-45deg);
      border-style: solid;
      border-color: #000;
      opacity: 0;
      transition: opacity $trs1;
    }
    &[data-touch], &[data-hover] {
      &::before {
        border-color: var(--color-accent-1);
      }
    }
  }
}


.select {
  --font-size: 14px;
  --line-height: 18px;
  --padding: 12px 26px 12px 14px;
  font-size: var(--font-size);
  line-height: var(--line-height);
  font-size: var(--font-size);
  line-height: var(--line-height);
  &:not(.ss-main) {
    padding: var(--padding);
    box-shadow: var(--block-shadow);
    border-radius: 4px; 
  }
}

.ss-main {
  position: relative;
  
}
.ss-single-selected {
  border-radius: 4px;
  box-shadow: var(--block-shadow);
  background-color: #fff;
  padding: var(--padding);
  position: relative;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  &[data-hover] {
    .arrow-down, .arrow-up {
      transform: rotate(90deg);
    }
  }
  &.ss-open-below {
    border-radius: 4px 4px 0 0;
  }
}
.ss-deselect, .ss-search {
  display: none;
}
.ss-arrow {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  .arrow-down, .arrow-up {
    display: block;
    width: 14px;
    height: 14px;
    position: relative;
    transition: transform $trs1;
    &::before {
      content: '';
      display: block;
      position: absolute;
      width: 10px;
      height: 10px;
      border-color: var(--color-accent-1);
      border-style: solid;
      border-width: 1px 1px 0 0;
      top: 2px;
      left: 0px;
      transform: rotate(45deg);
    }
  }
  .arrow-down {
    transform: rotate(0);
  }
  .arrow-up {
    transform: rotate(-90deg) !important;
  }
}

.ss-content {
  position: absolute;
  z-index: 10;
  width: 100%;
  top: 100%;
  left: 0;
  background-color: #fff;
  border-radius: 0 0 4px 4px;
  box-shadow: var(--block-shadow);
  opacity: 0;
  visibility: hidden;
  transition: opacity $trs1, visibility $trs1;
  border-top: 1px solid var(--color-borders);
  &.ss-open {
    opacity: 1;
    visibility: visible;
  }
}

.ss-option {
  padding: 12px 14px;
  cursor: pointer;
  transition: color $trs1;
  &:not(:last-child) {
    border-bottom: 1px solid var(--color-borders);
  }
  &.ss-disabled {
    color: var(--color-muted);
    pointer-events: none;
  }
  &.ss-option-selected {
    color: var(--color-accent-1);
    pointer-events: none;
  }
  &[data-touch], &[data-hover] {
    color: var(--color-accent-1);
  }
}

.input-item {
  pointer-events: none;
  &__label {
    pointer-events: all;
    display: inline-block;
    color: var(--color-muted);
    margin: 0 0 10px 0;
    span {
      color: #E93D3D;
    }
  }
  &__description {
    font-size: 12px;
    margin-top: 7px;
    color: var(--color-muted);
  }
  &__message {
    font-size: 12px;
    margin-top: 15px;
    color: var(--color-muted);
  }
  .input, .input-file {
    pointer-events: all;
  }
}

.input-file {
  font-size: 14px;
  line-height: 18px;
  padding-left: 25px;
  position: relative;
  color: var(--color-accent-2);
  transition: color $trs1;
  &__text {
    border-bottom: 1px dashed currentColor;
  }
  input {
    display: none;
  }
  .icon {
    width: 16px;
    height: 16px;
    position: absolute;
    display: block;
    left: 0;
    top: 2px;
  }
  &[data-touch], &[data-hover] {
    color: var(--color-accent-2_2);
  }
}

.form {
  &__element {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
  &__checkbox {
    margin-top: 30px;
  }
  &__submit {
    margin-top: 30px;
    text-align: center;
  }
  &__required-message {
    font-size: 14px;
    color: var(--color-muted);
  }
  &__buttons {
    display: grid;
    justify-content: center;
    grid-template-columns: auto 1fr;
    gap: 16px;
  }
  &__else-link {
    margin-top: 15px;
    display: flex;
    justify-content: flex-end;
    font-size: 14px;
  }
  @include media-breakpoint-down(sm) {
    &__buttons {
      grid-template-columns: auto;
    }
  }
}