.header {
  --spacer: 25px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.05);
  background-color: #fff;
  z-index: 100;
  &_fixed {
    position: fixed;
  }
  &__container {
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__logo {
    margin-right: var(--spacer);
  }
  &__left, &__right {
    display: flex;
    align-items: center;
    flex: 0 0 auto;
  }
  &__phone {
    flex: 0 0 auto;
    font-size: 0.875rem;
    margin-right: var(--spacer);
  }
  &__large-button {
    line-height: 65px;
    font-size: 12px;
    padding: 0 12px;
    border-radius: 0;
  }
  &__small-buttons {
    display: flex;
    align-items: center;
    margin-left: 14px;
  }
  &__small-buttons-item {
    position: relative;
    &:not(:first-child) {
      margin-left: 11px;
      &::after {
        display: block;
        content: '';
        width: 1px;
        height: 100%;  
        position: absolute;
        top: 0;
        left: -6px;
        background-color: var(--color-muted);
      }
    }
  }
  &__small-button {
    width: 26px;
    height: 26px;
    line-height: 26px;
    display: flex;
    justify-content: center;
    color: var(--color-muted);
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    .icon {
      width: 17px;
      height: 17px;
      margin: auto;
    }
  }
  @include media-breakpoint-up(lg) {
    &__search-open-item, &__search-close-button {
      display: none;
    }
  }
  @include media-breakpoint-up(xl) {
    &__nav-open-item {
      display: none;
    }
  }
  @include media-breakpoint-down(xl) {
    &__logo {
      margin: 0;
    }
  }
  @include media-breakpoint-down(lg) {
    &__search-close-button {
      width: 26px;
      height: 26px;
      flex: 0 0 auto;
      position: relative;
      margin-left: 10px;
      &::before, &::after {
        content: '';
        display: block;
        background-color: currentColor;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 20px;
        height: 2px;
        border-radius: 2px;
      }
      &::before {
        transform: translate(-50%, -50%) rotate(-45deg);
      }
      &::after {
        transform: translate(-50%, -50%) rotate(45deg);
      }
    }
    &__large-button {
      line-height: 50px;
    }
    &__container {
      height: 50px;
    }
    &__small-buttons {
      margin-left: var(--spacer);
    }
    &__logo {
      width: 90px;
    }
  }
  @include media-breakpoint-down(md) {
    &__phone, &__large-button {
      display: none;
    }
  }
  @include media-breakpoint-down(sm) {
    &__logo {
      margin: 0;
    }
  }
}

.header-search {
  @include media-breakpoint-up(lg) {
    flex: 1 1 100%;
    margin: 0 var(--spacer);
  }
  @include media-breakpoint-down(lg) {
    position: absolute;
    background-color: #fff;
    z-index: 2;
    width: calc(100% - var(--container-gutter-x) * 2);
    left: var(--container-gutter-x);
    margin: 0;
    height: 100%;
    display: flex;
    align-items: center;
    transition: opacity $trs1, visibility $trs1;
    opacity: 0;
    visibility: hidden;
    &.is-active {
      opacity: 1;
      visibility: visible;
    }
    &__element {
      flex: 1 1 auto;
    }
  }
}

.nav-open-button {
  @include media-breakpoint-down(xl) {
    padding: 6px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    span {
      width: 20px;
      height: 2px;
      border-radius: 2px;
      background-color: currentColor;
    }
  }

}

.header-nav {
  flex-shrink: 0;
  &__list {
    display: flex;
  }
  &__item {
    &:not(:last-child) {
      margin-right: 20px;
    }
  }
  &__link {
    font-size: 0.875rem;
  }
  @include media-breakpoint-down(xl) {
    display: none;
  }
}