.modal {
  position: fixed;
  z-index: 1000;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: var(--color-modal-overlay);
  display: none;
  &.active {
    display: block !important;
  }
  &__wrapper {
    position: relative;
    z-index: 1;
    overflow-y: auto;
    width: 100%;
    height: 100%;
    display: flex;
    padding: var(--container-gutter-x);
  }
  &-close {
    position: absolute;
    width: 40px;
    height: 40px;
    z-index: 2;
    cursor: pointer;
    right: 10px;
    top: 10px;
    &:before, &:after {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      height: 2px;
      width: 22px;
      background-color: var(--color-muted);
      transition: background-color $trs1;
    }
    &:before {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
    &:after {
      transform: translate(-50%, -50%) rotate(45deg);
    }
    &[data-touch], &[data-hover] {
      &:before, &:after {
        background-color: var(--color-text);
      }
    }
  }
  &-block {
    margin: auto;
    padding: 40px 40px 60px 40px;
    background-color: #fff;
    border-radius: 4px;
    width: 100%;
    max-width: 580px;
    &__title {
      text-align: center;
    }
  }
  @include media-breakpoint-down(sm) {
    &-block {
      padding: 40px 20px 30px 20px;
    }
    &-close {
      right: 5px;
      top: 5px;
    }
  }
}

#vkhod-v-lichnyj-kabinet, #registracziya, #vosstanovit-parol {
  .modal-block {
    max-width: 520px;
  }
}

.modal-product {
  &__container {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 30px;
  }
  &__title {
    font-size: 1.125rem;
    display: block;
    margin-bottom: 15px;
  }
  .image {
    width: 80px;
    height: 80px;
  }
  &__buttons {
    display: grid;
    grid-template-columns: auto auto;
    gap: 16px;
  }
  .modal-block {
    padding: 40px;
  }
  @include media-breakpoint-down(sm) {
    .modal-block {
      padding: 40px 20px 30px 20px;
    }
    &__container {
      column-gap: 20px;
    }
    &__title {
      font-size: 1rem;
    }
    &__buttons {
      grid-template-columns: 100%;
      gap: 10px;
    }
  }
}