html {
  font-size: 16px;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: var(--color-text);
  font-size: 1rem;
  line-height: 1.25;
  text-rendering: optimizeSpeed;
  @include media-breakpoint-down(sm) {
    font-size: 0.875rem;
  }
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  font-weight: 400;
  margin: 2rem 0 1.75rem 0;
  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }
}

h1, .h1 {
  font-size: 3.75rem;
}
h2, .h2 {
  font-size: 3.5rem;
}
h3, .h3 {
  font-size: 2.875rem;
}
h4, .h4 {
  font-size: 2.5rem;
}
h5, .h5 {
  font-size: 2.25rem;
}
h6, .h6 {
  font-size: 1.5rem;
}

@include media-breakpoint-down(xl) {
  h1, .h1 {
    font-size: 3.25rem;
  }
  h2, .h2 {
    font-size: 3rem;
  }
  h3, .h3 {
    font-size: 2.5rem;
  }
  h4, .h4 {
    font-size: 2.25rem;
  }
  h6, .h6 {
    font-size: 1.375rem;
  }
}
@include media-breakpoint-down(lg) {
  h1, .h1 {
    font-size: 2.5rem;
  }
  h2, .h2 {
    font-size: 2.25rem;
  }
  h3, .h3 {
    font-size: 2rem;
  }
  h4, .h4 {
    font-size: 1.875rem;
  }
  h6, .h6 {
    font-size: 1.25rem;
  }
}
@include media-breakpoint-down(md) {
  h1, .h1 {
    font-size: 2rem;
  }
  h2, .h2 {
    font-size: 1.75rem;
  }
  h3, .h3 {
    font-size: 1.5rem;
  }
  h4, .h4 {
    font-size: 1.5rem;
  }
  h6, .h6 {
    font-size: 1.125rem;
  }
}
@include media-breakpoint-down(sm) {
  h1, .h1 {
    font-size: 1.875rem;
  }
  h2, .h2 {
    font-size: 1.5rem;
  }
  h3, .h3 {
    font-size: 1.375rem;
  }
  h6, .h6 {
    font-size: 1.125rem;
  }
}


p {
  margin: 0 0 1.75rem 0;
  &:last-child {
    margin-bottom: 0;
  }
}

strong, b {
  font-weight: 700;
}

ul:not([class]), ol:not([class]) {
  &:not(:last-child) {
    margin-bottom: 1.75rem;
  }
  li:not([class]) {
    &:not(:last-child) {
      margin: 0 0 0.75rem 0;
    }
  }
}

ul:not([class]) {
  padding-left: 40px;
  li:not([class]) {
    position: relative;
    padding-left: calc(8px + 1rem);
    &::before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: calc(((1.25em - 8px) / 2));
      width: 8px;
      height: 8px;
      border-radius: 8px;
      background-color: var(--color-accent-1);
    }
  }
  @include media-breakpoint-down(sm) {
    padding-left: 20px;
  }
}

ol:not([class]) {
  counter-reset: section;
  padding-left: 40px;
  li:not([class]) {
    padding-left: calc(1rem + 8px);
    position: relative;
    &:before {
      counter-increment: section;
      content: counter(section) '. ';
      position: absolute;
      left: 0;
      top: 0;
    }
  }
  @include media-breakpoint-down(sm) {
    padding-left: 20px;
  }
}
