:root {
  --color-text: #2B2929;
  --color-muted: #9E9BA4;

  --color-accent-1: #6ABD18;
  --color-accent-1_2: #336601;

  --color-accent-2: #E7BC70;
  --color-accent-2_2: #DCA13A;


  --color-borders: #E1E1E1;

  //input
  --color-input-placeholder: rgba(158, 155, 164, 0.5);
  --color-input-border: #E1E1E1;

  --color-label-1: #E93D3D;
  --color-label-2: #4E3AC7;
  --color-label-3: #20B7D8;

  --color-socials: rgba(43, 41, 41, 0.2);
}