:root {
  --color-text: #2B2929;
  --color-muted: #656565;

  --color-accent-1: #6ABD18;
  --color-accent-1_2: #336601;

  --color-accent-2: #E7BC70;
  --color-accent-2_2: #DCA13A;


  --color-borders: #C1BFC3;

  //input
  --color-input-placeholder: rgba(158, 155, 164, 0.5);
  --color-input-border: #C1BFC3;

  --color-label-1: #E93D3D;
  --color-label-2: #4E3AC7;
  --color-label-3: #20B7D8;

  --color-socials: rgba(43, 41, 41, 0.2);

  //modal
  --color-modal-overlay: rgba(43, 41, 41, 0.6);

  //scrollbar
  --color-scrollbar-track: #F1F1F1;
  --color-scrollbar-thumb: #C1C1C1;


  //slider pagination
  --color-dark-pagination: rgba(0, 0, 0, 0.2);
  --color-dark-pagination-hover: rgba(0, 0, 0, 0.4);
  --color-dark-pagination-active: #2B2929;

  --color-preload-bg: rgba(0, 0, 0, 0.2);
}