extends layout/layout

block variables
  -var page_title = 'Контакты'
  -var title = sitename + ' - ' + page_title

block content
  include blocks/components

  -var breadcrumbs_links = ['Главная', page_title]
  include blocks/breadcrumbs

  section.section.contacts-section
    .container 
      .section__head  
        h1.section__title Контакты
      .contacts-section__container 
        //box
        .contact-box 
          .contact-box__content 
            h6.contact-box__title Отдел продаж
            .contact-box__elements 
              .contact-box__item
                span.contact-box__item-head
                  svg.icon
                    use(xlink:href='./img/icons/sprite.svg#phone')
                  | Телефон
                span.contact-box__item-text 
                  a(href="tel:74991103044") +7 (499) 110 30 44
              .contact-box__item
                span.contact-box__item-head
                  svg.icon
                    use(xlink:href='./img/icons/sprite.svg#mail')
                  | Почта
                span.contact-box__item-text 
                  a(href="mailto:opt@semushka-m.ru") opt@semushka-m.ru
              .contact-box__item
                span.contact-box__item-head
                  svg.icon
                    use(xlink:href='./img/icons/sprite.svg#clock')
                  | Режим работы
                span.contact-box__item-text 
                  | <strong>Пн-Пт:</strong> с 10:00 до 19:00
        //box
        .contact-box 
          .contact-box__content 
            h6.contact-box__title Центральный офис
            .contact-box__elements 
              .contact-box__item
                span.contact-box__item-head
                  svg.icon
                    use(xlink:href='./img/icons/sprite.svg#phone')
                  | Телефон
                span.contact-box__item-text 
                  a(href="tel:74954887285") +7 (495) 488 72 85
              .contact-box__item
                span.contact-box__item-head
                  svg.icon
                    use(xlink:href='./img/icons/sprite.svg#mail')
                  | Почта
                span.contact-box__item-text 
                  a(href="mailto:opt@semushka-m.ru") opt@semushka-m.ru
              .contact-box__item
                span.contact-box__item-head
                  svg.icon
                    use(xlink:href='./img/icons/sprite.svg#geo')
                  | Адрес
                span.contact-box__item-text 
                  | 127018, Москва, 2-я Ямская улица, дом 9.

        //box
        .contact-box
          .contact-box__content 
            h6.contact-box__title Фуд Сити
            .contact-box__elements 
              .contact-box__item
                span.contact-box__item-head
                  svg.icon
                    use(xlink:href='./img/icons/sprite.svg#phone')
                  | Телефон
                span.contact-box__item-text 
                  a(href="tel:74954887285") +7 (495) 488 72 85
              .contact-box__item
                span.contact-box__item-head
                  svg.icon
                    use(xlink:href='./img/icons/sprite.svg#mail')
                  | Почта
                span.contact-box__item-text 
                  a(href="mailto:opt@semushka-m.ru") opt@semushka-m.ru
              .contact-box__item
                span.contact-box__item-head
                  svg.icon
                    use(xlink:href='./img/icons/sprite.svg#clock')
                  | Режим работы
                span.contact-box__item-text 
                  | с 10:00 до 19:00
              .contact-box__item
                span.contact-box__item-head
                  svg.icon
                    use(xlink:href='./img/icons/sprite.svg#geo')
                  | Адрес
                span.contact-box__item-text 
                  | Москва, Калужское шоссе 22-й км.

          .contact-box__map 
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d577336.7645875042!2d36.82512011568039!3d55.58074803516603!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b54afc73d4b0c9%3A0x3d44d6cc5757cf4c!2z0JzQvtGB0LrQstCwLCDQoNC-0YHRgdC40Y8!5e0!3m2!1sru!2sua!4v1627325316065!5m2!1sru!2sua" loading="lazy"></iframe>

        //box
        .contact-box
          .contact-box__content 
            h6.contact-box__title Склад
            .contact-box__elements 
              .contact-box__item
                span.contact-box__item-head
                  svg.icon
                    use(xlink:href='./img/icons/sprite.svg#phone')
                  | Телефон
                span.contact-box__item-text 
                  a(href="tel:74954887285") +7 (495) 488 72 85
              .contact-box__item
                span.contact-box__item-head
                  svg.icon
                    use(xlink:href='./img/icons/sprite.svg#mail')
                  | Почта
                span.contact-box__item-text 
                  a(href="mailto:opt@semushka-m.ru") opt@semushka-m.ru
              .contact-box__item
                span.contact-box__item-head
                  svg.icon
                    use(xlink:href='./img/icons/sprite.svg#clock')
                  | Режим работы
                span.contact-box__item-text 
                  | <strong>Пн-Пт:</strong> с 10:00 до 19:00
              .contact-box__item
                span.contact-box__item-head
                  svg.icon
                    use(xlink:href='./img/icons/sprite.svg#geo')
                  | Адрес
                span.contact-box__item-text 
                  | МО, Мытищи, ул.Центральная, дом 81.

          .contact-box__map 
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d577336.7645875042!2d36.82512011568039!3d55.58074803516603!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b54afc73d4b0c9%3A0x3d44d6cc5757cf4c!2z0JzQvtGB0LrQstCwLCDQoNC-0YHRgdC40Y8!5e0!3m2!1sru!2sua!4v1627325316065!5m2!1sru!2sua" loading="lazy"></iframe>