.banner.image.image_cover 
  img(src="./img/banner_image.jpg", alt="image")
  .banner__content 
    h6.banner__title Только опт от <strong>30 000 ₽</strong><br>
      | Ознакомьтесь с розничным каталогом
    a(href="#").button.button_style-1.banner__button
      span Вам сюда 