.banner.image.image_cover 
  img(src="./img/Banners_3 1.png", alt="image")
  .banner__content 
    h6.banner__title Только опт от <strong>30 000 ₽</strong><br>
      | Хотите купить небольшой объем?
    a(href="#").button.button_style-1.banner__button
      span Вам сюда 