.breadcrumbs
  .container
    ul.breadcrumbs__list 
      -var index = 0
      each val in breadcrumbs_links
        if index < breadcrumbs_links.length - 1
          li.breadcrumbs__item 
            a(href=index==0?'./':'#').breadcrumbs__element=val
        else 
          li.breadcrumbs__item=val    
        -index++