footer.footer
  .container.footer__container
    .footer__box-1
      a(href="./").logo.footer__logo
        img(src="./img/logos/logo.svg", alt="logo")
      .footer__phone
        a(href="tel:74991103044").link +7 (499) 110 30 44
      .footer__adress 129012, Москва, 2-я Ямская, д. 9, этаж З, комната 22. 
      .socials.footer__socials
        ul.socials__list 
          li.socials__item 
            a(href="#").socials__link
              svg.icon(viewBox="0 0 22 21")
                use(xlink:href='./img/icons/sprite.svg#facebook') 
              | facebook
          li.socials__item 
            a(href="#").socials__link
              svg.icon(viewBox="0 0 22 21")
                use(xlink:href='./img/icons/sprite.svg#instagram') 
              | instagram
          li.socials__item 
            a(href="#").socials__link
              svg.icon(viewBox="0 0 30 21")
                use(xlink:href='./img/icons/sprite.svg#youtube') 
              | youtube
    ul.footer__nav-list 
      li.footer__nav-list-item
        a(href="./produkcziya.html").footer__nav-list-link.link Продукция
      li.footer__nav-list-item
        a(href="./novosti.html").footer__nav-list-link.link Новости
      li.footer__nav-list-item
        a(href="./kontakty.html").footer__nav-list-link.link Контакты
      li.footer__nav-list-item
        a(href="./o-kompanii.html").footer__nav-list-link.link О компании
      li.footer__nav-list-item
        a(href="#").footer__nav-list-link.link Как сделать заказ?
    .footer__product-nav
      strong.footer__product-nav-title Орехи
      ul.footer__product-nav-list
        li.footer__product-nav-item
          a(href="#").footer__product-nav-link.link Арахис
        li.footer__product-nav-item
          a(href="#").footer__product-nav-link.link Бразильский орех
        li.footer__product-nav-item
          a(href="#").footer__product-nav-link.link Грецкий орех
        li.footer__product-nav-item
          a(href="#").footer__product-nav-link.link Кедровый орех
        li.footer__product-nav-item
          a(href="#").footer__product-nav-link.link Кешью
        li.footer__product-nav-item
          a(href="#").footer__product-nav-link.link Кокос
        li.footer__product-nav-item
          a(href="#").footer__product-nav-link.link Макадамия
        li.footer__product-nav-item
          a(href="#").footer__product-nav-link.link Миндаль
        li.footer__product-nav-item
          a(href="#").footer__product-nav-link.link Орехи карамелизированные
        li.footer__product-nav-item
          a(href="#").footer__product-nav-link.link Пекан
        li.footer__product-nav-item
          a(href="#").footer__product-nav-link.link Смесь ореховая
        li.footer__product-nav-item
          a(href="#").footer__product-nav-link.link Фисташки
        li.footer__product-nav-item
          a(href="#").footer__product-nav-link.link Фундук
        li.footer__product-nav-item
          a(href="#").footer__product-nav-link.link Ядро абрикосовой косточки
    .footer__product-nav
      strong.footer__product-nav-title Семена
      ul.footer__product-nav-list
        li.footer__product-nav-item
          a(href="#").footer__product-nav-link.link Амарант
        li.footer__product-nav-item
          a(href="#").footer__product-nav-link.link Киноа
        li.footer__product-nav-item
          a(href="#").footer__product-nav-link.link Кунжут
        li.footer__product-nav-item
          a(href="#").footer__product-nav-link.link Лен
        li.footer__product-nav-item
          a(href="#").footer__product-nav-link.link Мак
        li.footer__product-nav-item
          a(href="#").footer__product-nav-link.link Подсолнечник
        li.footer__product-nav-item
          a(href="#").footer__product-nav-link.link Тыква
        li.footer__product-nav-item
          a(href="#").footer__product-nav-link.link Чиа
    .footer__product-nav
      strong.footer__product-nav-title Сухофрукты
      ul.footer__product-nav-list
        li.footer__product-nav-item
          a(href="#").footer__product-nav-link.link Армянские
        li.footer__product-nav-item
          a(href="#").footer__product-nav-link.link Изюм
        li.footer__product-nav-item
          a(href="#").footer__product-nav-link.link Инжир
        li.footer__product-nav-item
          a(href="#").footer__product-nav-link.link Курага
        li.footer__product-nav-item
          a(href="#").footer__product-nav-link.link Пасты
        li.footer__product-nav-item
          a(href="#").footer__product-nav-link.link Тропические
        li.footer__product-nav-item
          a(href="#").footer__product-nav-link.link Финики
        li.footer__product-nav-item
          a(href="#").footer__product-nav-link.link Цукаты
        li.footer__product-nav-item
          a(href="#").footer__product-nav-link.link Чернослив
        li.footer__product-nav-item
          a(href="#").footer__product-nav-link.link Шиповник
        li.footer__product-nav-item
          a(href="#").footer__product-nav-link.link Яблоко
        li.footer__product-nav-item
          a(href="#").footer__product-nav-link.link Ягоды
    .footer__product-nav
      strong.footer__product-nav-title Фасовка
      ul.footer__product-nav-list
        li.footer__product-nav-item
          a(href="#").footer__product-nav-link.link Орехи
        li.footer__product-nav-item
          a(href="#").footer__product-nav-link.link Семена
        li.footer__product-nav-item
          a(href="#").footer__product-nav-link.link Сухофрукты
        li.footer__product-nav-item
          a(href="#").footer__product-nav-link.link Чурчхела и лаваш
        li.footer__product-nav-item
          a(href="#").footer__product-nav-link.link Шоколад и мармелад
        li.footer__product-nav-item
          a(href="#").footer__product-nav-link.link Цукаты
        li.footer__product-nav-item
          a(href="#").footer__product-nav-link.link Подарочные наборы
    
    .footer__last
      a(href="#").link-dashed Политика конфиденциальности 
      span.footer__copyright Все права защищены © 