header.header(data-scroll-lock-fill-gap)
  .container.header__container
    .header__left
      a(href="./").logo.header__logo
        img(src="./img/logos/logo.svg", alt="logo")

      nav.header-nav 
        ul.header-nav__list 
          li.header-nav__item 
            a(href="./produkcziya.html").header-nav__link.link Продукция
          li.header-nav__item  
            a(href="./novosti.html").header-nav__link.link Новости
          li.header-nav__item 
            a(href="./o-kompanii.html").header-nav__link.link О компании
          li.header-nav__item 
            a(href="./kontakty.html").header-nav__link.link Контакты

    .search-block.header-search
      from.search-block__element.header-search__element
        .input.search-block__input
          input(type="text" placeholder="Поиск по каталогу")
        button.search-block__search-button.link 
          svg.icon
            use(xlink:href='./img/icons/sprite.svg#loupe')
      
      button(aria-label='close search').header__search-close-button.close-button


    .header__right
      .header__phone
        a(href="tel:74991103044").link +7 (499) 110 30 44
        a(href="#obratnyj-zvonok" data-modal='open').link-dashed Заказать звонок 

      a(href="#zapros-prajs-lista" data-modal='open').button.button_style-3.header__large-button
        span Запрос прайс-листа

      ul.header__small-buttons 
        li.header__small-buttons-item
          a(href="#").header__small-button.link
            svg.icon
              use(xlink:href='./img/icons/sprite.svg#user')
        li.header__small-buttons-item
          a(href="#").header__small-button.header__cart-button.link
            svg.icon
              use(xlink:href='./img/icons/sprite.svg#cart')
            span 100

        li.header__small-buttons-item
          a(href="#").header__small-button.link
            span en

        li.header__small-buttons-item.header__search-open-item
          button(aria-label='open nav').header__small-button.link.header__search-open-button
            svg.icon
              use(xlink:href='./img/icons/sprite.svg#loupe')

        li.header__small-buttons-item.header__nav-open-item
          button(aria-label='open search').header__small-button.nav-open-button.link
            span
            span
            span

nav.mobile-navigation
  .mobile-navigation__element
    .mobile-navigation__head 
      a(href="./").logo.mobile-navigation__logo
        img(src="./img/logos/logo.svg", alt="logo")
      button(aria-label='filter close').close-button.mobile-navigation__close-button
    .mobile-navigation__container(data-scroll-lock-scrollable) 

      ul.mobile-nav-list
        li.mobile-nav-list__item 
          a(href="./produkcziya.html").mobile-nav-list__link.link Продукция
        li.mobile-nav-list__item  
          a(href="./novosti.html").mobile-nav-list__link.link Новости
        li.mobile-nav-list__item 
          a(href="./o-kompanii.html").mobile-nav-list__link.link О компании
        li.mobile-nav-list__item 
          a(href="./kontakty.html").mobile-nav-list__link.link Контакты

      .mobile-navigation__bottom 
        .mobile-navigation__phone
          a(href="tel:74991103044").link +7 (499) 110 30 44
        a(href="#zapros-prajs-lista" data-modal='open').button.button_style-3
          span Запрос прайс-листа 