header.header
  .container.header__container
    .header__left
      a(href="./").logo.header__logo
        img(src="./img/logos/logo.svg", alt="logo")
      nav.header-nav 
        ul.header-nav__list 
          li.header-nav__item 
            a(href="#").header-nav__link.link Продукция
          li.header-nav__item  
            a(href="#").header-nav__link.link Новости
          li.header-nav__item 
            a(href="#").header-nav__link.link О компании
          li.header-nav__item 
            a(href="#").header-nav__link.link Контакты
    .search-block.header__search-block
      from.search-block__element 
        .input.search-block__input
          input(type="text" placeholder="Поиск по каталогу")
        button.search-block__search-button.link 
          svg.icon
            use(xlink:href='./img/icons/sprite.svg#loupe')
    .header__right
      a(href="tel:74991103044").header__phone.link +7 (499) 110 30 44
      a(href="#").button.button_style-3.header__price-button
        span Запрос прайс-листа

      ul.header__small-buttons 
        li.header__small-buttons-item
          a(href="#").header__small-button.link
            svg.icon
              use(xlink:href='./img/icons/sprite.svg#user')
        li.header__small-buttons-item
          a(href="#").header__small-button.link
            svg.icon
              use(xlink:href='./img/icons/sprite.svg#cart')
        li.header__small-buttons-item
          a(href="#").header__small-button.link
            span en
