.message-line 
  .container.message-line__container
    .message-line__image
      img(src="./img/icons/Zhulik 1.svg", alt="image")
    .message-line__content
      .message-line__text Внимание! Узнайте, как уберечь себя и свой бизнес от мошенников
      a(href="#").button.button_small.button_style-6.message-line__button 
        span Подробнее